/* Палитра цветов */
/* цвет основного текста - #757575 */
/* вторичный цвет текста - #212121 */
/* цвет текста подвала вторичный - rgba(255, 255, 255, 0.6) */
/* цвет акцента - #2196F3 */

/* основной цвет фона - #ffffff*/
/* вторичный цвет фона - #F5F4FA */
/* цвет подвала - #2F303A */

:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-white-color: #ffffff;
  --main-bcg-color: #e5e5e5;
  --secondary-bcg-color: #f5f4fa;
  --footer-bgc-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --footer-copyright-color: rgba(255, 255, 255, 0.4);
}

html {
  box-sizing: border-box;

  /* background-color: #e5e5e5; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* .test {
  height: 400px;
  display: flex;
}

.test-item:nth-child(2) {
  margin-left: 20px;
} 

.test-item {
  background-color: brown;
  width: 100px;
  margin: auto;
} */

body {
  color: var(--main-text-color);
  background-color: var(--main-bcg-color);

  font-family: "Roboto", sans-serif;
}

img {
  display: block;
}

/* Утилитарный класс списка */
.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Утилитарный класс ссылки */
.link {
  display: inline-block;
  text-decoration: none;
}

.link-accent:hover,
.link-accent:focus {
  color: var(--accent-color);
}

/* Утилитарный класс оснавной контейнер */
.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  /* padding-left: 20px;
  padding-right: 20px; */
}

/* Утилитарный класс основный заголовков */
.main-title {
  width: 1200px;
  text-align: center;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: brown;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/* Утилита hide */
.in-hide {
  display: none;
}

/* Шапка */
.header {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--secondary-bcg-color);
}

.nav-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  width: 1200px;
}

.logo {
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 25px;
  background-color: brown;

  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-blue {
  color: var(--accent-color);
}

.logo-black {
  color: var(--title-text-color);
}

.site-nav {
  margin-left: 80px;
}

.site-nav .item:not(:first-child) {
  margin-left: 50px;
}

.item {
  background-color: brown;
}

.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact {
  margin-left: auto;
}

.contact-link {
  color: var(--main-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* Герой */

.scn-hero {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  text-align: center;
}

.hero-title {
  width: 646px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 200px;
  margin-bottom: 46px;

  color: var(--main-white-color);
  background-color: grey;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  margin-bottom: 200px;
  border-radius: 4px;

  color: var(--main-white-color);
  background-color: var(--accent-color);

  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/* Секция преимущества */

.advantages {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advant-items {
  margin-bottom: 94px;
}

.advant-items > .item + .item {
  margin-left: 30px;
}

.item > .icon {
  display: inline-block;
  width: 278px;
  height: 120px;

  background-color: var(--secondary-bcg-color);
}

/* Секция занятий */

.occupations {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.occupations-list-item {
  width: 380px;
  height: 70px;
  padding: 27px 91px;
  margin: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;

  color: var(--main-white-color);
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.occupations-items > .item + .item {
  margin-left: 30px;
}

.occupations-items {
  margin-bottom: 94px;
}

/* Наша команда */

.our-team {
  width: 1600px;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--secondary-bcg-color);
}

.card-title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.position {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.item-cards > .item {
  width: 278px;
}

.item-cards > .item + .item {
  margin-left: 30px;
}

/* Секция постоянные клиенты */

.clients {
  width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

/* Подвал */

.footer {
  background-color: var(--footer-bgc-color);
}

.logo-white {
  color: var(--main-white-color);
}

.footer-text,
.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-text {
  color: var(--main-white-color);
}

.footer-contats {
  color: var(--footer-text-color);
}

.copyrights {
  color: var(--footer-copyright-color);
}

.footer-call {
  color: var(--main-white-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Портфолио */

.subject-list {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-examples .description {
  color: var(--main-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.filter {
  background-color: #f5f4fa;
}

.filter:hover,
.filter:focus {
  background-color: var(--accent-color);
  color: var(--main-white-color);
}
